a, a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #FC3;
	text-decoration: underline;
}

body {
	background-attachment: scroll;
	background-color: #000;
	background-image: url(images/boracay.jpeg); 
	background-position: top;
	color: white;
	font-family: Arial, Helvetica, serif;
	font-size: 12px;
	margin: 0 auto;
	width: 1500px;
	height:844px;
}

h1 {
	font-size: 22px;
	font-weight: normal;
	text-align: center;
}

img {
	border-width: 0;
}


#address {
	float: right;
	font-size: 11px;
	padding-top: 11px;
}

#bottom-line {
	background: transparent url(images/line.gif) no-repeat;
	clear: both;
	font-size: 1px;
	height: 1px;
	line-height: 1px;
}

.button-list-horizontal, .button-list-vertical {
	height: 21px;
	margin: 0;
	list-style-type: none;
	padding: 0;
	text-align: right;
}

.button-list-horizontal a, .button-list-vertical a {
	color: #DDD;
}

.button-list-horizontal a:hover, .button-list-vertical a:hover {
	color: #FFF;
	text-decoration: none;
}

.button-list-horizontal li, .button-list-vertical li {
	background: transparent url(images/button_background.gif) repeat-x top left;
	font-size: 14px;
	padding: 2px 30px 2px 4px;
	vertical-align: middle;
}

.button-list-horizontal li {
	display: inline;
	margin-left: 1px;
}

.button-list-vertical li {
	display: block;
	margin-bottom: 1px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.clear {
	clear: both;
}

.contact-container {
	background-color: #101010;
	border: 1px solid #333;
	height: 240px;
	width: 470px;
}

.contact-info {
	color: #AAA;
	padding: 16px 16px 24px;
}

.contact-info a, .contact-info a:visited {
	color: #ccc;
	text-decoration: underline;
}

.contact-info a:hover {
	color: #FC3;
}

.contact-name {
	color: white;
}

.contact-title {
	border-bottom: 1px solid #333;
	font-size: 24px;
	padding: 16px 16px 4px;
}

#content {
	margin: 10px 0;
	padding: 8px 0;
	min-height: 400px;
}

#copyright {
	font-size: 11px;
	padding-top: 11px;
	text-align: right;
}

#footer {
	margin-bottom: 8px;
}

#gear-list {
	margin-left: -2px;
}

.gear-type {
	font-weight: bold;
	margin-left: 2px;
	margin-top: 8px;
}

#header {
	background: transparent url(images/nuvola.png) no-repeat center 4px;
	padding-top: 71px;
}

.home-slide {
	text-align: center;
	width: 980px;
}

.left {
	float: left;
}

.main-menu {
	list-style-type: none;
	margin: 2px 20px;
	padding: 0;
}

.main-menu a {
	background-position: 0 0;
	float: left;
	height: 20px;
	width: 120px;
}

.main-menu a.selected {
	background-position: -120px 0;
}

.main-menu a:hover {
	background-position: -240px 0;
}

.menu {
	list-style-type: none;
}

.menu-column {
	width: 250px;
}

.main-menu .menu-item {
}

.menu-selected {
	font-weight: bold;
}

.narrow-column {
	width: 228px;
}

.photo-caption {
	font-size: 11px;
	font-variant: small-caps;
}

.right {
	float: right;
}

#nuvola-logo {
	background: transparent url(images/nuvola_logo.jpg) no-repeat;
	float: left;
	height: 22px;
	width: 78px;
}

.studio-info-panel {
	position: absolute;
	left: 10px;
	top: 0;
	padding: 8px 10px 8px 0;
	height: 450px;
	margin-bottom: 1px;
	overflow: auto;
}

.studio-info-panel ul {
	font-size: 12px;
	margin-top: 0;
	padding-left: 16px;
}

#studio-info-container {
/*
	border-bottom: 0;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-top: 0;
*/
	border: 1px solid #333;
	height: 465px;
	padding: 0 10px;
	width: 252px;
	position: relative;
}

.studio-sub-link {
	font-weight: bold;
	text-align: right;
}

.narrow-column, .text-column, .wide-column {
	border: 1px solid #333;
	padding: 0 10px;
}

.text-column {
	width: 460px
}

#top-line {
	background: transparent url(images/line.gif) no-repeat;
	clear: both;
	font-size: 1px;
	height: 1px;
	line-height: 1px;
}

ul {
	list-style-image: url(images/bullet.gif);
}

ul#client-carousel {
	margin-left: -27px;
}

.wide-column {
	width: 700px;
}

#wrapper {
	margin: 0 auto;
	overflow: hidden;
	width: 1500px;
	height:950px;
}
